<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Expense</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let expense of expenses">
      <td>{{ expense.name }}</td>
      <td>{{ expense.amount }}</td>
    </tr>
  </tbody>
</table>

<div>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput type="text" [(ngModel)]="name">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Expense</mat-label>
    <input matInput type="number" [(ngModel)]="amount">
  </mat-form-field>

  <button (click)="addExpense()">Add Expense</button>
</div>
